{% extends 'base.html' %}
{% block conteudo %}

<main class="container">
    <h1>ESTOQUE DE PRODUTOS</h1>
    {% if listProdutoEstoque %}
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">PRODUTO</th>
            <th scope="col">QUANTIDADE</th>
            <th scope="col">DATA DE VALIDADE</th>
            <th scope="col">DIAS RESTANTE VENCIMENTO</th>
        </thead>
        <tbody>
         {% for aux in listProdutoEstoque %}
          {% if aux.DiasVenc == 0 %}
            <tr class="table-danger">
          {% elif aux.DiasVenc < 5 %}
            <tr class="table-warning">
          {% else %}
            <tr class="table-success">
          {% endif %}
            <td>{{aux.Produto.produto.nome}}</td>
            <td>{{aux.Produto.quantidade}}</td>
            <td>{{aux.Produto.data_de_validade}}</td>
            <td>{{aux.DiasVenc}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
     {% else %}
     <div class="alert alert-info" role="alert">
        Não há produtos no estoque 
      </div>
      <div class="d-grid gap-2">
        <a href="{% url 'cadastrar_produto' %}">
            <button class="btn btn-primary" type="button">CADASTRAR PRODUTO</button>
        </a>
        {% endif%} 
        <div>
          <a href="{%url 'realizar_transacao' %}" class="btn btn-primary">Comprar ou vender produto</a>
      </div>
</main>
{% endblock %}